@use "../../styles/typography/typography.scss";
@use "../../styles/colors/colors.scss";

.textarea {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  //overflow: hidden;
  $self: &;

  //&:hover {
  //  #{$self} {
  //    &__btn {
  //      opacity: 1;
  //      visibility: visible;
  //    }
  //  }
  //}

  &__field {
    @include typography.body-text;
    height: 300px;
    width: 100%;
    padding: 50px 40px;
    border: 5px solid colors.$grey-1;
    border-radius: 20px;
    resize: none;
    overflow: hidden;

    &:focus{
      outline: none;
    }
  }

  //&__btn {
  //  position: absolute;
  //  width: 27px;
  //  height: 23px;
  //  border: none;
  //  background-color: rgba(0, 0, 0, 0.05);
  //  text-align: center;
  //  display: grid;
  //  justify-content: center;
  //  align-items: center;
  //  cursor: pointer;
  //  opacity: 0;
  //  visibility: hidden;
  //  transition: visibility 0.3s ease, opacity 0.3s ease;
  //
  //  &:hover {
  //    background-color: rgba(colors.$purple, 0.15);
  //  }
  //
  //  &_increase {
  //    right: 1px;
  //    top: 1px;
  //    border-top-right-radius: 5px;
  //  }
  //
  //  &_decrease {
  //    bottom: 1px;
  //    right: 1px;
  //    border-bottom-right-radius: 5px;
  //  }
  //}
}



