@use "../../styles/typography/typography.scss";
@use "../../styles/colors/colors.scss";

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  cursor: pointer;

  &:hover{
    background-color: colors.$light-blue;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    margin: 0 20px;
  }

  &__name {
    @include typography.body-text;
    font-size: 24px;
    font-weight: 600;
    margin-right: 15px;
    color: colors.$black;
  }

  &__email {
    @include typography.body-text;
    font-size: 24px;
    color: colors.$light-black;
  }
}
