@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  //background: linear-gradient(180deg, orange, white);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.App{
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  width: 50%;
  height: 500px;
}
.container{
  padding: 200px 10px 100px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.history{
  color: #fff;
  flex: 1 0 auto;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.input-wrapper{
  position: relative;
}

.textinput{
  font-family: 'Roboto', sans-serif !important;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 1px 2px #888;
  max-width: 100%;
  font-size: 24px;
  padding: 15px;
  position: relative;
  width: 100%;

  &:focus{
    outline: none;
  }
}

.textinput::placeholder{
  text-align: center;
  font-size: 0.8rem;
  line-height: 4rem;
}

.mentions{
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  border: 2px solid #888;
  position: absolute;
  z-index: 10;
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
}

.mentions li{
  height: 40px;
  line-height: 30px;
}

.mentions li:first-child{
  background: #eee;
}
.mentions li:hover{
  background: #eef;
}
.mentions li.no-match{
  color: #888;
  font-style: italic;
}
.mentions li img{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0 20px 0 10px;
  vertical-align: middle;
}