@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App{
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  width: 50%;
  height: 500px;
}
.container{
  padding: 200px 10px 100px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.input-wrapper{
  position: relative;
}

.textwrap{
  font-family: 'Roboto', sans-serif !important;
  font-size: 24px;
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.textinput{
  font-family: 'Roboto', sans-serif !important;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 2px #888;
  max-width: 100%;
  font-size: 24px;
  padding: 15px;
  position: relative;
  width: 100%;

  &:focus{
    outline: none;
  }
}

.mentions{
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  border: 2px solid #888;
  position: absolute;
  z-index: 10;
  width: 50%;
  min-width: 200px;
  background-color: #fff;
  border-radius: 5px;
}

.mentions li{
  height: 40px;
  line-height: 30px;
}

.mentions li:first-child{
  background: #eee;
}
.mentions li:hover{
  background: #eef;
}
.mentions li.no-match{
  color: #888;
  padding-left: 20px;
  padding-top: 5px;
  font-style: italic;
}
.mentions li img{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0 20px 0 10px;
  vertical-align: middle;
}